<a href="https://colab.research.google.com/github/kaosar100/Kaosar-AHmed/blob/master/CSI_382_Data_Minining_and_Knowledge_Discovery_Sessional_Introduction_to_Python_Part_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **CSI 382 - Data Minining and Knowledge Discovery Sessional**

## **Introduction to Python - Part 2**

Here we will dive into details of variables, common data types, statements and expressions that are used in a Python script. Each cell will contain some code and you can run it inside the browser.

You can also write code into adjacent cells and play with it as you want.

Let's get on!

# **2.1 Variables**

**A variable is a name that refers to a value.**<br>

Very simply put, we use a variable when we want to store some data
in our program. Every variable is connected to a value, which is the
information associated with that variable.

In [ ]:
message = "Hello World"
print(message)
message = "This is my first program in Python"
print(message)

Hello World
This is my first program in Python

## **2.1.1 Variable Naming**

Programmers generally choose names for their variables that are meaningfulâ€”they document what the variable is used for.

In [ ]:
message = "And now for something completely different"
n = 17
pi = 3.1415926535897932

# **2.2 Assignment Statements**

An **assignment statement** creates a new variable and gives it a value.

In [ ]:
message = "And now for something completely different"
n = 17
pi = 3.1415926535897932

# **2.3 Expressions and Statements**
# **2.3.1 Expressions**

An **expression** is a combination of values, variables, and operators. A value all by itself is considered an expression, and so is a variable, so the following are all legal expressions:

In [ ]:
n = 17
n + 25

42

## **2.3.2 Statements**

A **statement** is a unit of code that has an effect, like creating a variable or displaying a value.

In [ ]:
n = 17
print(n)

17

# **2.4 Script Mode**

So far we have run Python in **interactive mode**, which means that you interact directly with the interpreter. Interactive mode is a good way to get started, but if you are working with more than a few lines of code, it can be clumsy.

In [ ]:
miles = 26.2
miles * 1.61

42.182

The alternative is to save code in a file called a **script** and then run the interpreter in **script mode** to execute the script. By convention, Python scripts have names that end with *.py*.

In [ ]:
miles = 26.2
print(miles * 1.61)

42.182

# **2.5 Strings**

A **string** is a series of characters. Anything inside quotes is considered a string in Python, and you can use single or double quotes around your strings like this:

In [ ]:
"This is a string."
'This is also a string.'

'This is also a string.'

This flexibility allows you to use quotes and apostrophes within your
strings:

In [ ]:
'I told my friend, "Python is my favorite language!"'

'I told my friend, "Python is my favorite language!"'

In [ ]:
"The language 'Python' is named after Monty Python, not the snake."

"The language 'Python' is named after Monty Python, not the snake."

In [ ]:
"One of Python's strengths is its diverse and supportive community."

"One of Python's strengths is its diverse and supportive community."

# **2.6 String Manipulation Techniques**
## **2.6.1 Changing Case in a String with Methods**

One of the simplest tasks you can do with strings is change the case of the words in a string.

In [3]:
name = "charlie chaplin"
print(name.title())

print(name.encode())

Charlie Chaplin
b'charlie chaplin'

A **method** is an action that Python can perform on a piece of data. The dot **(.)** after name in **name.title()** tells Python to make the **title()** method act on the variable name.

Several other useful methods are available for dealing with case as well. For example, you can change a string to all uppercase or all lowercase letters like this:

In [ ]:
name = "Charlie Chaplin"
print(name.upper())
print(name.lower())

CHARLIE CHAPLIN
charlie chaplin

## **2.6.2 Using Variables in Strings**

In some situations, youâ€™ll want to use a variableâ€™s value inside a string. For example, you might want two variables to represent a first name and a last name respectively, and then want to combine those values to display someoneâ€™s full name:

In [ ]:
first_name = "charlie"
last_name = "chaplin"
full_name = f"The full name is: {first_name} {last_name}"
print(full_name)

The full name is: charlie chaplin

You can use **f-strings** to compose complete messages using the information associated with a variable, as shown here:

In [ ]:
first_name = "charlie"
last_name = "chaplin"
full_name = f"{first_name} {last_name}"
print(f"Hello, {full_name.title()}!")

Hello, Charlie Chaplin!

You can also use **f-strings** to compose a message, and then assign the entire message to a variable:

In [ ]:
first_name = "charlie"
last_name = "chaplin"
full_name = f"{first_name} {last_name}"
message = f"Hello, {full_name.title()}!" 
print(message)

Hello, Charlie Chaplin!

## **2.6.2 Adding Whitespace to Strings with Tabs or Newlines**

In programming, **whitespace** refers to any nonprinting character, such as spaces, tabs, and end-of-line symbols. You can use whitespace to organize your output so itâ€™s easier for users to read.

To add a tab to your text, use the character combination **\t** as shown here:

In [ ]:
print("Python")
print("\tPython")

Python
	Python

To add a newline in a string, use the character combination **\n**:

In [ ]:
print("Languages:\nPython\nC\nJavaScript")

Languages:
Python
C
JavaScript

You can also combine tabs and newlines in a single string. The string **"\n \t"** tells Python to move to a new line, and start the next line with a tab.
The following example shows how you can use a one-line string to generate four lines of output:

In [ ]:
print("Languages:\n\tPython\n\tC\n\tJavaScript")

Languages:
	Python
	C
	JavaScript

# **2.7 Numbers**
## **2.7.1 Integers**

You can **add (+), subtract (-), multiply (*), and divide (/)** integers in Python.

In [ ]:
print(2 + 3)

5

In [ ]:
3 - 2

1

In [ ]:
2 * 3

6

In [4]:
3 / 3

1.0

In a terminal session, Python simply returns the result of the operation. Python uses **two multiplication symbols** to represent exponents:

In [ ]:
3 ** 2

9

In [ ]:
3 ** 3

27

In [ ]:
10 ** 6

1000000

Python supports the **order of operations** too, so you can use multiple operations in one expression. You can also use parentheses to modify the order of operations so Python can evaluate your expression in the order you specify. For example:

In [ ]:
2 + 3 * 4

14

In [ ]:
(2 + 3) * 4

20

## **2.7.2 Floats**

Python calls any number with a decimal point a float. This term is used in most programming languages, and it refers to the fact that a decimal point can appear at any position in a number. Every programming language must be carefully designed to properly manage decimal numbers so numbers behave appropriately no matter where the decimal point appears.

In [ ]:
0.1 + 0.1

0.2

In [ ]:
0.2 + 0.2

0.4

In [ ]:
2 * 0.1

0.2

In [ ]:
2 * 0.2

0.4

But be aware that you can sometimes get an **arbitrary number** of decimal places in your answer:

In [ ]:
0.2 + 0.1

0.30000000000000004

In [5]:
3 * 0.1

0.30000000000000004

This happens in all languages and is of little concern. Python tries to find a way to represent the result as **precisely as possible**, which is sometimes difficult given how computers have to represent numbers internally.

## **2.7.3 Integers and Floats**

When you divide any two numbers, even if they are integers that result in a whole number, youâ€™ll **always get a float**:

In [ ]:
4/2

2.0

If you mix an integer and a float in any other operation, youâ€™ll get a float as well:

In [ ]:
1 + 2.0

3.0

In [ ]:
2 * 3.0

6.0

In [ ]:
3.0 ** 2

9.0

Python defaults to a float in any operation that uses a float, even if the output is a whole number.

## **2.7.4 Underscores in Numbers**

When youâ€™re writing long numbers, you can group digits using underscores to make large numbers more readable. When you print a number that was defined using underscores, Python prints only the digits:

In [ ]:
universe_age = 13_770_000_000
print(universe_age)

13770000000

To Python, **1000** is the same as **1_000**, which is the same as **10_00**. This feature works for integers and floats, but itâ€™s only available in **Python 3.6** and later.

# **2.8 Multiple Assignments**

You can assign values to more than one variable using just a single line.

For example, hereâ€™s how you can initialize the variables x, y, and z to zero:

In [ ]:
x, y, z = 0, 0, 0

# **2.9 Constants**

A **constant** is like a variable whose value stays the same throughout the life
of a program. Python doesnâ€™t have built-in constant types, but Python programmers use all capital letters to indicate a variable should be treated as a constant and never be changed:

In [ ]:
MAX_CONNECTIONS = 5000

When you want to treat a variable as a constant in your code, make the name of the variable all **capital letters**.

# **2.10 Comments**

As programs get bigger and more complicated, they get more difficult to read. Formal languages are dense, and it is often difficult to look at a piece of code and figure out what it is doing, or why.

For this reason, it is a good idea to add notes to your programs to explain in natural language what the program is doing. These notes are called **comments**, and they start with the **#** symbol:

In [ ]:
# compute the percentage of the hour that has elapsed
minute = 43
percentage = (minute * 100) / 60

or

In [ ]:
percentage = (minute * 100) / 60 # percentage of an hour

Everything from the **#** to the end of the line is ignoredâ€”it has no effect on the execution of the program.

# **That's all for Part 2!**