<a href="https://colab.research.google.com/github/kaosar100/Kaosar-AHmed/blob/master/CSI_382_Data_Minining_and_Knowledge_Discovery_Sessional_Introduction_to_Python_Part_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **CSI 382 - Data Minining and Knowledge Discovery Sessional**

## **Introduction to Python - Part 1**

Here we will dive into python programming language. Each cell will contain some code and you can run it inside the browser.

You can also write code into adjacent cells and play with it as you want.

Let's get on!

In [ ]:
import ColabTurtle.Turtle as kaosar

kaosar.initializeTurtle(initial_speed=5) 
kaosar.shape("turtle")
kaosar.speed(7)
kaosar.color("green")
k = 0;
color = ["red", "green", "orange", "blue"]

for i in range(36):
  for j in range(4):
    kaosar.forward(180)
    kaosar.left(90)
  kaosar.left(10)
  if(k > 3): k = 0
  kaosar.color(color[k])
  k += 1

In [ ]:
!pip3 install ColabTurtle

# **1.1 First program in python**

This is a very simple program to demonstrate the interpretation of a python compiler. Here we are simply printing two values to check the output stream of our compiler.<br>

N.B: Click on the little play button on the left to run the program.

In [ ]:
print("Hello World!")
print("This is my first program in python")

**Expected Output:**

Hello World <br>
This is my first program in python

# **1.2 Another example of a python program**

In this example we will see how we can generate a list of prime numbers that are located between a lower and an upper bound.<br>
For example, between 1 and 10 there are 4 prime numbers, i.e., 2, 3, 5, 7.

In [ ]:
import math as m
lower = 1
upper = 1000

print("Prime numbers between", lower, "and", upper, "are:")

for num in range(lower, upper + 1):
   # all prime numbers are greater than 1
    if num > 1:
        for i in range(2, int(m.sqrt(num))+1):
            if (num % i) == 0:
                break
        else:
            print(num)

**Expected Output:**

Prime numbers between 1 and 1000 are:<br>
2<br>
3<br>
.<br>
.<br>
.<br>
983<br>
991<br>
997

# **Excercise**

Complete the following program that will show the details of you in Stamford University Bangladesh.

In [ ]:
#Fill in the blanks with your student ID
print("My student ID is: CSE 066 12345")
#Fill in the blanks with your name
print("My name is: John Doe")
#Fill in the blanks with district
print("My home district is: Gazipur")
###############Write your code here#######################
print("My admission date is: 01/07/2020")
print("My registered courses are: ")
print("1. CSI 115 - Computer and Programming Concept.")
print("2. MATH 135 - Discrete mathematics")
print("3. EEE 193 - Electrical Circuits and Devices")
print("4. PHY 217 - Physics")
print("5. ENGL 100 - English Fundamentals")
##########################################################
print("That's all for today!")

**Expected Output:**

My student ID is: CSE 066 12345<br>
My name is: John Doe<br>
My home district is: Dhaka<br>
My admission date is: 1 July 2018<br>
My registered courses are: <br>
CSI 381 - Data Minining and Knowledge Discovery<br>
CSI 382 - Data Minining and Knowledge Discovery Sessional<br>
...<br>

# **That's all for Part 1!**